# Python
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/

# Data rules

# Ignore processed, intermediate, or large files
data/processed/
data/interim/

# Allow raw synthetic data to be tracked
!data/raw/
!data/raw/*.csv

# Allow dictionaries to be tracked
!data/dictionaries/
!data/dictionaries/*.csv

# Ignore random exported artifacts (optional)
data/*.parquet
data/*.json


# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
